.modal-button{
    padding: 14px 20px;
    background-color: #FEF7F7;
    color: #EB5757;
    border: none;
    border-radius: 50%;
}
.btn-modify{
    background-color: #EB5757;
    padding: 10px;
    color: white;
}
.modal-card-left{
    background: rgba(235, 87, 87, 0.05);
    border: none;
    outline: none;
}